.feature {
  position: relative;
  padding-bottom: 94px;
  height: 940px;
  background-color: var(--black-color);

  @include small-tablet {
    height: 850px;
  }

  @include mobile {
    height: 750px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 447px;
    height: 477px;
    background-image: url('../img/hero-gradient-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 1015px;
    height: 760px;
    background-image: url('../img/hero-gradient-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__gradient {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 1097px;
    height: 527px;
    background-image: url('../img/hero-gradient-3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__container {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // padding-top: 310px;
    height: 100%;
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include small-tablet {
      padding: 0 15px;
    }
  }

  &__title {
    margin-bottom: 24px;

    @include small-tablet {
      text-align: center;
    }

    @include mobile {
      font-size: 44px;
      line-height: 140%;
    }

    span {
      font-weight: 400;
    }
  }

  &__subject {
    display: block;
    font-style: italic;
    font-size: 26px;
    line-height: 140%;
    color: var(--white-color);

    a {
      font-weight: 700;
    }

    @include small-tablet {
      text-align: center;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__songs {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    padding-top: 112px;
    padding-left: 13px;
    color: var(--white-color);

    @include small-tablet {
      align-self: center;
      padding-top: 40px;
      padding-left: 0;
    }

    &-name {
      display: flex;
      margin-bottom: 12px;
      max-width: 250px;
      font-weight: 400;
      font-size: 26px;
      line-height: 140%;
      letter-spacing: -0.01em;
      text-align: center;

      @include mobile {
        font-size: 20px;
      }
    }

    &-text {
      max-width: 244px;
      font-size: 11px;
      line-height: 160%;
      text-align: center;
      color: rgba(#fff, 0.8);
    }
  }

  // &__playback {
  //   position: absolute;
  //   right: 14px;
  //   bottom: 14px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   border-radius: 50%;
  //   width: 30px;
  //   height: 30px;
  //   background-color: rgba(#fff, 0.25);

  //   &-icon {
  //     display: inline-block;
  //     width: 15px;
  //     height: 15px;
  //     background-position: center;
  //     background-repeat: no-repeat;
  //     background-size: contain;
  //   }

  //   // &::before {
  //   //   content: "";
  //   //   position: absolute;
  //   //   left: 0;
  //   //   bottom: 0;

  //   //   width: 100%;
  //   //   height: 100%;
  //   // }
  // }
}

// .pause {
//   .feature__playback-icon {
//     background-image: url('../img/pause.svg');
//   }
// }

// .play {
//   .feature__playback-icon {
//     transform: translateX(2px);
//     background-image: url('../img/start.svg');
//   }
// }

.animation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 126px;
  width: 265px;
  min-height: 110px;

  &__line {
    width: 3px;
    height: 110px;
    background-color: #fff;

    &-1 {
      animation: go-up-down 0.7s infinite alternate;
    }

    &-2 {
      animation: go-up-down 0.8s infinite alternate;
    }

    &-3 {
      animation: go-up-down 0.9s infinite alternate;
    }

    &-4 {
      animation: go-up-down 0.4s infinite alternate;
    }

    &-5 {
      animation: go-up-down 0.6s infinite alternate;
    }

    &-6 {
      animation: go-up-down 0.3s infinite alternate;
    }

    &-7 {
      animation: go-up-down 0.9s infinite alternate;
    }

    &-8 {
      animation: go-up-down 0.4s infinite alternate;
    }

    &-9 {
      animation: go-up-down 0.7s infinite alternate;
    }

    &-10 {
      animation: go-up-down 0.6s infinite alternate;
    }

    &-11 {
      animation: go-up-down 0.8s infinite alternate;
    }

    &-12 {
      animation: go-up-down 0.9s infinite alternate;
    }

    &-13 {
      animation: go-up-down 0.4s infinite alternate;
    }

    &-14 {
      animation: go-up-down 0.3s infinite alternate;
    }

    &-15 {
      animation: go-up-down 0.5s infinite alternate;
    }

    &-16 {
      animation: go-up-down 0.8s infinite alternate;
    }

    &-17 {
      animation: go-up-down 0.9s infinite alternate;
    }

    &-18 {
      animation: go-up-down 0.7s infinite alternate;
    }
  }
}

@keyframes go-up-down {
  0% {
    height: 0;
  }
  100% {
    height: 110px;
  }
}
