.hero {
  padding-bottom: 30px;


  @include small-tablet {
    padding-bottom: 15px;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 567px;

    @include small-tablet {
      height: 500px;
    }

    @include mobile {
      height: 460px;
    }

    &-inner {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      padding-bottom: 123px;

      @include small-tablet {
        padding: 0 20px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 3  ;
      background-color: rgba(0, 0, 0, 0.35);
      backdrop-filter: blur(3px);
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-family: "Eurostile", sans-serif;
    font-weight: 800;
    font-size: 43px;
    line-height: 59px;
    letter-spacing: -0.02em;
    color: var(--white-color);

    @include small-tablet {
      font-size: 34px;
      line-height: 140%;
      text-align: center;
    }

    @include mini-mobile {
      font-size: 31px;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 36px;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: -0.015em;
    color: rgba(#fff, 0.8);

    @include small-tablet {
      text-align: center;
      font-size: 20px;
    }

    @include mini-mobile {
      font-size: 18px;
    }
  }

  &__label {
    position: relative;
    width: 74%;

    @include mobile {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      left: 18px;
      top: 50%;
      width: 15px;
      height: 15px;
      background-image: url('../img/search.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(-50%);
    }
  }

  &__input {
    border: 1px solid #B4B4B4;
    padding: 0 45px;
    width: 100%;
    height: 44px;
    font-size: 14px;
    line-height: 140%;
    background-color: transparent;
    color: var(--white-color);

    &::placeholder {
      opacity: 1;
      transition: opacity .3s;
    }

    &:focus,
    &:active {
      &::placeholder {
        opacity: 0;
        transition: opacity .3s;
      }
    }

    &:focus {
      outline: 2px solid var(--white-color);
      outline-offset: 4px;
    }
  }
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  background-image: url('../img/hero-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__media {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
}
