.partners {
  padding-bottom: 80px;

  &__content {
    padding-left: 46px;


    @media (max-width: 1220px) {
      padding-left: 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 50px;
    font-family: "Eurostile", sans-serif;
    font-weight: 400;
    font-size: 37px;
    line-height: 49px;
    letter-spacing: -0.02em;

    @include mobile {
      margin-bottom: 15px;
      font-size: 28px;
      line-height: 43px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 30px;

    @include small-tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__image {
    display: flex;
    margin-right: 40px;
    min-width: 90px;
    min-height: 90px;
    background-color: #E7E7E7;

    @media (max-width: 1220px) {
      margin-right: 20px;
    }

    @include mobile {
      margin-right: 15px;
    }
  }

  &__text {
    max-width: 390px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: rgba(#000, 0.8);

    @media (max-width: 1220px) {
      max-width: 71%;
    }

    @include mobile {
      max-width: none;
      font-size: 12px;
    }
  }
}

.wrapper {
  display: flex;
  padding-left: 46px;
  width: 50%;


  @media (max-width: 1220px) {
    padding-left: 0;
  }

  &__left {
    margin-right: 40px;

    @media (max-width: 1220px) {
      margin-right: 20px;
    }

    @media (max-width: 576px) {
      margin-right: 15px;
    }
  }

  &__right {
    &-bottom {
      display: flex;
      justify-content: space-between;
    }
  }



  @include small-tablet {
    width: 100%;
  }
}

.content-picture {
  display: flex;
  width: fit-content;
  background-color: rgba(#000, 0.3);
}

.content-textarea {
  resize: none;
}


.content-file {
  display: flex;
  align-items: center;
  min-height: 28px;
  cursor: pointer;

  &-text {
    display: inline-block;
    margin-right: 10px;
  }
}

.bottom-line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: scalex(0);
    transform-origin: right;
    transition: transform 0.4s;
  }


  &:hover {
    &::before {
      transform: scalex(1);
      transform-origin: left;
      transition: transform 0.4s;
    }
  }
}
