<section class="feature">
  <span class="feature__gradient"></span>
  <div class="container feature__container">
    <div class="feature__animation animation">
      <span class="animation__line animation__line-1"></span>
      <span class="animation__line animation__line-2"></span>
      <span class="animation__line animation__line-3"></span>
      <span class="animation__line animation__line-4"></span>
      <span class="animation__line animation__line-5"></span>
      <span class="animation__line animation__line-6"></span>
      <span class="animation__line animation__line-7"></span>
      <span class="animation__line animation__line-8"></span>
      <span class="animation__line animation__line-9"></span>
      <span class="animation__line animation__line-10"></span>
      <span class="animation__line animation__line-11"></span>
      <span class="animation__line animation__line-12"></span>
      <span class="animation__line animation__line-13"></span>
      <span class="animation__line animation__line-14"></span>
      <span class="animation__line animation__line-15"></span>
      <span class="animation__line animation__line-16"></span>
      <span class="animation__line animation__line-17"></span>
      <span class="animation__line animation__line-18"></span>
    </div>
    <div class="feature__center">
      <h2 class="feature__title title" data-aos="fade-up" data-aos-once="true">Featured <span>Songs</span></h2>
      <span class="feature__subject" data-aos="fade-up" data-aos-once="true">Latest lyrics from <a href="#">Toklyrics.com</a></span>
    </div>
    <div class="feature__songs" data-aos="fade-up" data-aos-once="true">
      <a class="feature__songs-name" href="#">Sam Smith - Unholy (feat. Kim Petras)</a>
      <a class="feature__songs-text" href="#">Sam Smith Sam Smith, Kim Petras, Unholy, mommy don’t know daddy’s getting hot</a>
    </div>
  </div>
  <button class="playback pause btn-reset">
    <span class="playback-icon"></span>
  </button>
</section>
