<section class="feature">
  <span class="feature__gradient"></span>
  <div class="container feature__container">
    <div class="feature__center">
      <h2 class="feature__title title">Featured <span>Songs</span></h2>
      <span class="feature__subject">Latest lyrics from <a href="#">Toklyrics.com</a></span>
    </div>
    <div class="feature__songs">
      <a class="feature__songs-name" href="#">Sam Smith - Unholy (feat. Kim Petras)</a>
      <a class="feature__songs-text" href="#">Sam Smith Sam Smith, Kim Petras, Unholy, mommy don’t know daddy’s getting hot</a>
    </div>
  </div>
  <button class="playback pause btn-reset">
    <span class="playback-icon"></span>
  </button>
</section>
