<footer class="footer">
  <div class="container footer__container">
    <a class="footer__link" href="#">Toklyrics.com</a>
    <nav class="footer__nav">
      <span class="footer__text">Site Map</span>
      <ul class="footer__list list-reset">
        <li class="footer__item"><a class="footer__item-link footer__item-link--active" href="#">Home</a></li>
        <li class="footer__item"><a class="footer__item-link" href="#">Submit Lyrics</a></li>
        <li class="footer__item"><a class="footer__item-link" href="#">Submit for Youtube</a></li>
      </ul>
    </nav>
  </div>
</footer>
