<header class="header">
  <div class="top-banner">
    <div class="container">
      <div class="top-banner__text">
        <strong>NEW:</strong> <span>Most popular song of this week</span>
        <button class="top-banner__close btn-reset" aria-label="Close top-banner"></button>
      </div>
    </div>
  </div>
  <div class="container header__container">
    <a class="logo" href="#" data-aos="fade-up">Toklyrics</a>
    <nav class="nav" title="Main menu" data-menu >
      <ul class="nav__list list-reset" data-aos="fade-up">
        <li class="nav__item"><a class="nav__link nav__link--active" href="#">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="submit-lyrics.html">Submit Lyrics</a></li>
        <li class="nav__item"><a class="nav__link" href="submit-youtube.html">Submit for YouTube</a></li>
      </ul>
    </nav>
    <button class="burger" aria-label="Open menu" aria-expanded="false"  data-burger data-aos="fade-up">
    </button>
  </div>
</header>
