<section class="hero">
  <h1 class="visually-hidden">Toklyrics site-music</h1>
  <div class="container hero__container">
    <div class="hero__content">
      <div class="hero__video video">
        <video class="video__media" src="video/video.mp4" autoplay muted loop></video>
      </div>
      <div class="hero__content-inner">
        <h2 class="hero__title" data-aos="fade-up">Cut through the noise.</h2>
        <p class="hero__descr" data-aos="fade-up">Find the lyrics of your favorite song</p>
        <label class="hero__label">
          <input class="hero__input input-reset" type="text" placeholder="Search">
        </label>
      </div>
    </div>
  </div>
</section>
