<section class="hero">
  <h1 class="visually-hidden">Toklyrics site-music</h1>
  <div class="container hero__container">
    <div class="hero__content">
      <div class="hero__content-inner">
        <h2 class="hero__title">Cut through the noise.</h2>
        <p class="hero__descr">Find the lyrics of your favorite song</p>
        <label class="hero__label">
          <input class="hero__input input-reset" type="text" placeholder="Search">
        </label>
      </div>
    </div>
  </div>
</section>
