<section class="lyrics">
  <div class="container lyrics__container">
    <div class="lyrics__content-inner">
      <div class="lyrics__content">
        <a class="lyrics__artist" href="#" data-aos="fade-up" data-aos-once="true">SAM SMITH</a>
        <h1 class="lyrics__track" data-aos="fade-up" data-aos-once="true">Sam Smith - Unholy (feat. Kim Petras)</h1>
        <div class="lyrics__inner">
          <span data-aos="fade-up" data-aos-once="true">Lyrics</span>
          <p class="lyrics__text" data-aos="fade-up" data-aos-once="true">
            [Chorus: Sam Smith]
            <br>
            Mummy don't know daddy's getting hot
            <br>
            At the body shop
            <br>
            Doing something unholy
          </p>
          <p class="lyrics__text" data-aos="fade-up" data-aos-once="true">
            [Verse 1: Sam Smith]
            <br>
            Lucky, lucky girl, she got married to a boy like you
            <br>
            She'd kick you out if she ever, ever knew
            <br>
            'Bout all the shit you tell me that you do
            <br>
            Dirty, dirty boy, you know everyone is talking on the scene
            <br>
            I hear them whisperin' 'bout the places that you been
            <br>
            And how you don't know how to keep your business clean
          </p>
          <p class="lyrics__text" data-aos="fade-up" data-aos-once="true">
            [Chorus: Sam Smith & Kim Petras]
            <br>
            Mummy don't know daddy's getting hot
            <br>
            At the body shop
            <br>
            Doing somethin' unholy
            <br>
            He's sat back while she's droppin' it
            <br>
            She'd be poppin' it
            <br>
            Yeah, she put it down slowly
            <br>
            Oh, eh, oh, eh, oh, he left his kids at
            <br>
            home
            So he can get that
            <br>
            Mummy don't know daddy's getting hot
            <br>
            At the body shop
            <br>
            Doing somethin' unholy (Woo)
          </p>
          <p class="lyrics__text" data-aos="fade-up" data-aos-once="true">
            [Verse 2: Kim Petras]
            <br>
            Mmm, daddy, daddy, if you want it, drop the addy
            <br>
            Give me love, give me Fendi, my Balenciaga daddy
            <br>
            You gon' need to bag it up, 'cause I'm spending on Rodeo (Woo)
            <br>
            You can watch me back it up, I'll be gone in the AM
            <br>
            And he, he get me Prada, get me Miu Miu like Rihanna
            <br>
            He always call me 'cause I never cause no drama
          </p>
          <p class="lyrics__text" data-aos="fade-up" data-aos-once="true">
            [Pre-Chorus: Kim Petras]
            <br>
            And when you want it, baby
            <br>
            I know I got you covered
            <br>
            And when you need it, baby
            <br>
            Just jump under the covers
          </p>
          <p class="lyrics__text" data-aos="fade-up" data-aos-once="true">
            [Chorus: Sam Smith]
            <br>
            Mummy don't know daddy's getting hot
            <br>
            At the body shop
            <br>
            Doing somethin' unholy
            <br>
            He's sat back while she's droppin' it
            <br>
            She'd be poppin' it
            <br>
            Yeah, she put it down slowly
            <br>
            Oh, eh, oh, eh, oh, he left his kids at home
            <br>
            So he can get that
            <br>
            Mummy don't know daddy's getting hot
            <br>
            At the body shop
            <br>
            Doing somethin' unholy

          </p>
        </div>
        <div class="lyrics__authors" data-aos="fade-up" data-aos-once="true">
          <a class="lyrics__authors-link" href="#">SAM SMITH</a>
          <a class="lyrics__authors-link" href="#">KIM PETRAS</a>
          <a class="lyrics__authors-link" href="#">UNHOLY</a>
          <a class="lyrics__authors-link" href="#">MOMMY DON’T KNOW DADDY’S GETTING HOT</a>
        </div>
      </div>
    </div>
    <div class="lyrics__switch" data-aos="fade-up" data-aos-once="true">
      <a class="lyrics__prev" href="#">Vincent Mason - Made 4</a>
      <a class="lyrics__next" href="#">Pardyalone - A Place For Us</a>
    </div>
  </div>
</section>
