<section class="musicians">
  <div class="container">
    <button class="playback pause btn-reset">
      <span class="playback-icon"></span>
    </button>
    <h2 class="musicians__title title" data-aos="fade-up" data-aos-once="true"><span>For</span> Musicians </h2>
    <span class="musicians__subtitle" data-aos="fade-up" data-aos-once="true">Submit your lyrics and music.</span>
    <ul class="musicians__list list-reset">
      <li class="musicians__item">
        <div class="musicians__image" data-aos="fade-up" data-aos-once="true">
          <picture>
            <source srcset="img/left.avif" type="image/avif">
            <source srcset="img/left.webp" type="image/webp">
            <img loading="lazy" src="img/left.png" class="image" width="362" height="500" alt="musicians photo">
          </picture>
        </div>
        <div class="musicians__content" data-aos="fade-up" data-aos-once="true">
          <strong class="musicians__caption">Submit Lyrics</strong>
          <span class="musicians__text">Get your lyrics on LyricsOnly.io</span>
          <button class="musicians__btn btn-reset main-btn">SUBMIT LYRICS</button>
        </div>
      </li>
      <li class="musicians__item">
        <div class="musicians__image" data-aos="fade-up" data-aos-once="true">
          <picture>
            <source srcset="img/right.avif" type="image/avif">
            <source srcset="img/right.webp" type="image/webp">
            <img loading="lazy" src="img/right.png" class="image" width="358" height="498" alt="musicians photo">
          </picture>
        </div>
        <div class="musicians__content" data-aos="fade-up" data-aos-once="true">
          <strong class="musicians__caption">Submit Music</strong>
          <span class="musicians__text">Get your lyrics on LyricsOnly.io</span>
          <button class="musicians__btn btn-reset main-btn">SUBMIT LYRICS</button>
        </div>
      </li>
    </ul>
  </div>
</section>
