<section class="partners">
  <div class="container">
    <div class="partners__content">
      <h4 class="partners__title" data-aos="fade-up" data-aos-once="true">Partners</h4>
      <ul class="partners__list list-reset">
        <li class="partners__item" data-aos="fade-up" data-aos-once="true">
          <div class="partners__image">
            <!-- <img loading="lazy" src="." class="image" width="90" height="90" alt="" aria-hidden="true"> -->
          </div>
          <span class="partners__text">Condimentum imperdiet nulla tortor tempor facilisis sed donec duis. Elit lorem non luctus a massa dignissim.</span>
        </li>
        <li class="partners__item" data-aos="fade-up" data-aos-once="true">
          <div class="partners__image">
            <!-- <img loading="lazy" src="." class="image" width="90" height="90" alt="" aria-hidden="true"> -->
          </div>
          <span class="partners__text">Condimentum imperdiet nulla tortor tempor facilisis sed donec duis. Elit lorem non luctus a massa dignissim.</span>
        </li>
        <li class="partners__item" data-aos="fade-up" data-aos-once="true">
          <div class="partners__image">
            <!-- <img loading="lazy" src="." class="image" width="90" height="90" alt="" aria-hidden="true"> -->
          </div>
          <span class="partners__text">Condimentum imperdiet nulla tortor tempor facilisis sed donec duis. Elit lorem non luctus a massa dignissim.</span>
        </li>
        <li class="partners__item" data-aos="fade-up" data-aos-once="true">
          <div class="partners__image">
            <!-- <img loading="lazy" src="." class="image" width="90" height="90" alt="" aria-hidden="true"> -->
          </div>
          <span class="partners__text">Condimentum imperdiet nulla tortor tempor facilisis sed donec duis. Elit lorem non luctus a massa dignissim.</span>
        </li>
        <li class="partners__item" data-aos="fade-up" data-aos-once="true">
          <div class="partners__image">
            <!-- <img loading="lazy" src="." class="image" width="90" height="90" alt="" aria-hidden="true"> -->
          </div>
          <span class="partners__text">Condimentum imperdiet nulla tortor tempor facilisis sed donec duis. Elit lorem non luctus a massa dignissim.</span>
        </li>
        <li class="partners__item" data-aos="fade-up" data-aos-once="true">
          <div class="partners__image">
            <!-- <img loading="lazy" src="." class="image" width="90" height="90" alt="" aria-hidden="true"> -->
          </div>
          <span class="partners__text">Condimentum imperdiet nulla tortor tempor facilisis sed donec duis. Elit lorem non luctus a massa dignissim.</span>
        </li>
        <li class="partners__item" data-aos="fade-up" data-aos-once="true">
          <div class="partners__image">
            <!-- <img loading="lazy" src="." class="image" width="90" height="90" alt="" aria-hidden="true"> -->
          </div>
          <span class="partners__text">Condimentum imperdiet nulla tortor tempor facilisis sed donec duis. Elit lorem non luctus a massa dignissim.</span>
        </li>
        <li class="partners__item" data-aos="fade-up" data-aos-once="true">
          <div class="partners__image">
            <!-- <img loading="lazy" src="." class="image" width="90" height="90" alt="" aria-hidden="true"> -->
          </div>
          <span class="partners__text">Condimentum imperdiet nulla tortor tempor facilisis sed donec duis. Elit lorem non luctus a massa dignissim.</span>
        </li>
      </ul>
    </div>
  </div>
</section>
