<!-- <section class="submit-top">
  <div class="container">
    <h4 class="partners-title">Partners </h4>
  </div>
</section> -->
<section class="submit sumbit-lyrics">
  <button class="playback pause btn-reset">
    <span class="playback-icon"></span>
  </button>
  <div class="container">
    <div class="submit__content">
      <div class="submit__lyrics">
        <div class="submit__lyrics-top" data-aos="fade-up" data-aos-once="true">
          <h4 class="submit__title"><span>Submit</span> lyrics below</h4>
          <p class="submit__descr">Want to submit your lyrics to LyricsOnly.io? Fill in the form below.</p>
        </div>
        <form class="submit__form" action="#" data-aos="fade-up" data-aos-once="true">
          <label class="submit__label">
            <span class="submit__label-text">Artist/Band Name *</span>
            <input class="submit__input input-reset" type="text" name="Имя" required>
          </label>
          <label class="submit__label">
            <span class="submit__label-text">Song Title *</span>
            <input class="submit__input input-reset" type="text" name="Имя" required>
          </label>
          <label class="submit__label">
            <span class="submit__label-text">Album | EP | LP Name</span>
            <input class="submit__input input-reset" type="text" name="Имя">
          </label>
          <label class="submit__label">
            <span class="submit__label-text">Lyrics *</span>
            <!-- <input class="submit__input input-reset" type="text" name="Имя"  placeholder="Separate sections for our review team" required> -->
            <span class="submit__label-descr">Copy your lyrics into this field</span>
            <textarea class="submit__textarea" placeholder="Separate sections for our review team" required></textarea>
          </label>
          <label class="submit__label">
            <span class="submit__label-text">Song Link *</span>
            <span class="submit__label-descr">Please make sure your link is public</span>
            <input class="submit__input input-reset" type="text" name="Имя"  placeholder="Apple Music, Sound Cloud, Spotify Link... etc" required>
          </label>
          <button class="submit__lyrics-btn btn-reset main-btn">Submit</button>
        </form>
      </div>
      <div class="submit__youtube" data-aos="fade-up" data-aos-once="true">
        <h4 class="submit__title">Submit for <span>Youtube</span></h4>
        <p class="submit__descr">Want to submit your lyrics to LyricsOnly.io? Fill in the form below.</p>
        <button class="submit__youtube-btn btn-reset main-btn">Get Started</button>
      </div>
    </div>
  </div>
</section>
