<section class="tracks">
  <div class="container">
    <ul class="tracks__list list-reset" data-aos="fade-up" data-aos-once="true">
      <li class="tracks__item">
        <a class="tracks__author" href="#">SAM SMITH</a>
        <span class="tracks__name">Sam Smith - Night Before Christmas</span>
      </li>
      <li class="tracks__item">
        <a class="tracks__author" href="#">SAM SMITH</a>
        <span class="tracks__name">Sam Smith - Night Before Christmas</span>
      </li>
      <li class="tracks__item">
        <a class="tracks__author" href="#">SAM SMITH</a>
        <span class="tracks__name">mommy don’t know daddy’s getting hot</span>
      </li>
      <li class="tracks__item">
        <a class="tracks__author" href="#">SAM SMITH</a>
        <span class="tracks__name">Sam Smith - Night Before Christmas</span>
      </li>
    </ul>
  </div>
</section>
