<section class="trend">
  <div class="container">
    <h2 class="trend__title">Trending TikTok sounds of this week</h2>
    <ul class="trend__list list-reset">
      <li class="trend__item">
        <a class="trend__author" href="#">SAM SMITH</a>
        <span class="trend__song">Sam Smith - Night Before Christmas</span>
      </li>
      <li class="trend__item">
        <a class="trend__author" href="#">SAM SMITH</a>
        <span class="trend__song">Sam Smith - Night Before Christmas</span>
      </li>
      <li class="trend__item">
        <a class="trend__author" href="#">SAM SMITH</a>
        <span class="trend__song">Sam Smith - Night Before Christmas</span>
      </li>
      <li class="trend__item">
        <a class="trend__author" href="#">SAM SMITH</a>
        <span class="trend__song">Sam Smith - Night Before Christmas</span>
      </li>
      <li class="trend__item">
        <a class="trend__author" href="#">SAM SMITH</a>
        <span class="trend__song">Sam Smith - Night Before Christmas</span>
      </li>
      <li class="trend__item">
        <a class="trend__author" href="#">SAM SMITH</a>
        <span class="trend__song">Sam Smith - Night Before Christmas</span>
      </li>
      <li class="trend__item">
        <a class="trend__author" href="#">SAM SMITH</a>
        <span class="trend__song">Sam Smith - Night Before Christmas</span>
      </li>
      <li class="trend__item">
        <a class="trend__author" href="#">SAM SMITH</a>
        <span class="trend__song">Sam Smith - Night Before Christmas</span>
      </li>
    </ul>
  </div>
</section>
