html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--black-color);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);

  @media (max-width: 1200px) {
    padding: 0 20px;
  }

  @include mobile {
    padding: 0 15px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title {
  margin: 0;
  font-family: "Eurostile", sans-serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 77px;
  letter-spacing: -0.01em;
  color: var(--white-color);

  @include mobile {
    font-size: 44px;
    line-height: 140%;
  }
}

.top-banner {
  margin-bottom: 62px;
  padding: 14px 0;
  width: 100%;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(#fff, 0.9);
  background-color: #000;

  @include mobile {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
  }

  strong {
    font-weight: 600;
  }

  span {
    font-weight: 400;
  }

  &__text {
    position: relative;
  }

  &__close {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 10px;
    height: 10px;
    background-image: url('../img/svg/close-banner.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-50%);
    transition: opacity .3s;

    &:hover {
      opacity: 0.7;
      transition: opacity .3s;
    }
  }
}

.partners-title {
  margin: 0;
  font-family: "Eurostile", sans-serif;
  font-weight: 400;
  font-size: 37px;
  line-height: 49px;
  letter-spacing: -0.02em;
}

.main-btn {
  position: relative;
  box-shadow: 0px 0px 37px rgba(194, 194, 194, 0.24);
  border: 2px solid rgba(254, 0, 79, 0.84);
  border-radius: 20px 0 20px 0;
  padding: 16px 25px;
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(254, 0, 79, 0.84);
  // background: linear-gradient(95.75deg, rgba(0, 247, 239, 0.74) -9.61%, rgba(254, 0, 79, 0.84) 98.93%);
  background-color: transparent;
  transition: background-color .3s, color .3s;

  &:hover {
    color: var(--white-color);
    background-color: rgba(254, 0, 79, 0.84);
    transition: background-color .3s, color .3s;
  }

  // animation: .3s anim-bg linear infinite;


  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   border: 1px solid var(--black-color);
  //   border-radius: 20px 0 20px 0;
  //   margin: -4px;
  //   width: calc(100% + 8px);
  //   height: calc(100% + 8px);
  // }

}

